<h1> <%= category_name %> </h1>
<body>
  <% toys.forEach((toy, index) => { %> 
  <p> Name: <%= toy.name %> <br> Price: $<%= toy.price %> <br> </p> 
  <a href = "/<%= category_name %>/<%= toy.name %>"> Expand Toy </a>
  <a href = "/<%= category_name %>/<%= toy.name %>/delete"> Delete Toy </a>
  <a href = "/<%= category_name %>/<%= toy.name %>/update"> Update Toy </a>
  <% }) %>
</body>
<br><br><br>
<a href = "/<%= category_name %>/toyForm"> Add New Toy </a>
<br> <br>
<a href = "/"> Back </a>